.i-am-centered { margin: auto; max-width: 300px;}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  width: 94%; /* Full-width */
  height: 10px; /* Specified height */
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.borders {
    border:1px solid #999;
}