    <div class="container">
      <header class="row">
        <h1 class="col-sm-12">Caracterização das Atividades do Agricultor</h1>
        <p class="col-sm-12"></p>
      </header>
      
      <!-- Form with input field examples, submit handled by controller function -->
      <form role="form" name="form.test" id="form.test" novalidate class="col-sm-12">
      
        <div class="form-group">
            <p class="row col-sm-12 lead">1.{{vm.culturas.pergunta}}</p>
            
            <label class="checkbox-inline" ng-repeat="cultura in vm.culturas.respostas"> 
				<input type="checkbox" checklist-model="vm.culturas.respostas.selecionado" checklist-value="cultura"> {{cultura.name}}
            </label>
        </div>
        
        <div class="form-group">
             <p class="row col-sm-12 lead">2.Em que Estado e Município está situada a sua propriedade?</p>
        
            <label for="exampleFormControlSelect1">Escolha o Estado:</label>
            <select class="form-control" ng-model="vm.selectedState" ng-options="estado.nome for estado in estados" ng-change="buscarCidadesPorSigla()">
                <option value="">Escolha um Estado</option>
            </select>
			
			<div class="alert alert-danger" ng-if="validationOn && (vm.selectedState == '' || vm.selectedState == null)">
				<strong>Alerta!</strong> {{vm.erros.campo_requerido}}.
			</div>
            
            <label for="exampleFormControlSelect1">Escolha a Cidade:</label>
            <select class="form-control" ng-model="vm.selectedCity" ng-options="cidade for cidade in cidades">
                <option value="">Escolha uma Cidade</option>
            </select>
			
			<div class="alert alert-danger" ng-if="validationOn && (vm.selectedCity == '' || vm.selectedCity == null)">
				<strong>Alerta!</strong> {{vm.erros.campo_requerido}}.
			</div>
        </div>
        
        
        <div class="form-group">
             <p class="row col-sm-12 lead">3.{{vm.processos_secagem.pergunta}} </p>
             
            <div class="btn-group">
              <button type="button" class="btn btn-default"> {{vm.processos_secagem.selecionado != null ? vm.processos_secagem.selecionado : "Escolha uma opção clicando aqui!"}}</button>
              
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="processo in vm.processos_secagem.respostas"><a ng-click="setSelecionado(vm.processos_secagem, processo.name)">{{ processo.name }} </a></li>
              </ul>
            </div>
			<div class="alert alert-danger" ng-if="validationOn && vm.processos_secagem.selecionado == null">
				<strong>Alerta!</strong> {{vm.erros.campo_requerido}}.
			</div>
        </div>
        
        
         <div class="form-group">
             <p class="row col-sm-12 lead">4.{{vm.renda_bruta.pergunta}} </p>			
             
            <div class="btn-group">
              <button type="button" class="btn btn-default"> {{vm.renda_bruta.selecionado != null ? vm.renda_bruta.selecionado : "Escolha uma opção clicando aqui!"}}</button>
              
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="processo in vm.renda_bruta.respostas"><a ng-click="setSelecionado(vm.renda_bruta, processo.name)">{{ processo.name }} </a></li>
              </ul>
            </div>
			<div class="alert alert-danger" ng-if="validationOn && vm.renda_bruta.selecionado == null">
					<strong>Alerta!</strong> {{vm.erros.campo_requerido}}.
			</div>
        </div>
        
      </form>
    </div>
